<h1>Krankheitsmetrik</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="content-box" id="f1">
            <div class="row">
                <div>

                    <div class="col-lg-4">
                        <h3>Staging</h3>
                        <p>{{pathology.t}} {{pathology.n}} {{pathology.m}}</p>
                        <h3>M Lokalisation</h3>
                        <p>{{pathology.metastases}}</p>
                        <h3>P16 Status</h3>
                        <p>{{pathology.p16}}</p>
                    </div>

                    <div class="col-lg-4">
                        <h3>Tumorentität</h3>
                        <p>{{pathology.tumortype}}</p>
                        <h3>Grading</h3>
                        <p>{{pathology.icdgrading}}</p>
                        <h3>R Klassifikation</h3>
                        <p>R{{pathology.r}}</p>
                    </div>

                    <div class="col-lg-4">
                        <h3>LVPn Staging</h3>
                        <p>L{{pathology.l}} V{{pathology.v}} Pn{{pathology.pn}}</p>
                        <h3>Lymphknoten Kapselübertritt</h3>
                        <p>{{pathology.lymph}}</p>
                    </div>

                    <!--molecular-modal-->
                    <app-molecular-modal></app-molecular-modal>

                </div>
            </div>

            <hr />

            <a href="#1" class="details cd-btn-2">BILDDATEN PANENDOSKOPIE</a> <a data-toggle="modal" data-target="#molecular" class="details">MOLEKULARE INFORMATIONEN</a>

        </div>
    </div>
</div>
