<h1>Tumorboard Information</h1>

                    <div class="content-box" id="f2">
                        <div class="row">
                            <div class="col-lg-6">

                                <!-- previously: metricCtrl -->
                                <app-metric></app-metric>

                                <h3>Tumorboard Anamnese</h3>
                                <p class="small">postoperative Vorstellung nach Laryngektomie am 26.12.2017</p>

                                <h3>Vorhergehende Diagnose</h3>
                                <p class="small">Staging und Panendo</p>

                            </div>

                            <div class="col-lg-6">

                                <h3>Vorhergehende Therapie</h3>
                                <p class="small">LE, SND bds. 26.012.2017</p>

                                <h3>Fragestellung Tumorboard</h3>
                                <p class="small">adj. Therapie?</p>

                            </div>
                        </div>
                    </div>
