<div class="modal fade" id="molecular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><!-- Start Charlson Modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <h1>Molekulare Informationen</h1>
                <p class="small">Ausgehend von der molekularen Analyse der übersendeten Proben konnten folgende Resultate nachgewiesen werden:</p>

                <hr />

                <div class="row">
                    <div class="col-lg-6">
                        <p><b>P16 Status / HPV</b>
                    </div>

                    <div class="col-lg-6">
                        <p>Positiv</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <p><b>PD1 / PD-L1</b>
                    </div>

                    <div class="col-lg-6">
                        <p>Positiv</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <p><b>EGF Rezeptor</b>
                    </div>

                    <div class="col-lg-6">
                        <p>Negativ</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
