<div ng-app="dpmApp">
    <main class="main-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--Patientenmetrik-->
                            <app-patient-metric></app-patient-metric>
                        </div>
                    </div>
                    <!--Krankheitsmetrik-->
                    <app-disease-metric></app-disease-metric>
                </div>

                <div class="col-lg-7">
                    <h1>Digitales Patientenmodell</h1>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div class="content-box-np">
                                    <iframe scrolling="no" frameborder="0" height="700" width="1020" src="http://10.50.5.63/visualization?height=700&width=1020"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-8">
                    <!--Therapiemetrik-->
                    <app-therapy-metric></app-therapy-metric>
                </div>
                <div class="col-lg-4">
                    <!--Tumorboardmetrik-->
                    <app-tumorboard-metric></app-tumorboard-metric>
                </div>
            </div>
        </div>
    </main>

    <!--Patientendetails-->
    <app-patient-detail></app-patient-detail>
    <!--Krankheitsdetails-->
    <app-disease-detail></app-disease-detail>
    <!--Therapiedetails-->
    <app-therapy-detail></app-therapy-detail>
</div>

<!-- useful for debugging ;) -->
<app-messages></app-messages>
