/* GENERAL */

#f1 {
    height: 302px;
}

#f2 {
    height: 250px;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #0e0f21;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	line-height: 1.25;
  padding-top: 15px;
}

.container {
	width: 1880px;
}


/* TYPOGRAPHY */

p {
    margin-bottom: 15px;
    font-weight: 400;
}

p.small {
    font-size: 15px;
}

h1, h1.cd-panel-close, h1.cd-panel-close-2, h1.cd-panel-close-3 {
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	border-left: 20px solid #00B8D4;
}

h3 {
	margin: 0;
	padding: 0 0 4px 0;
	font-size: 14px;
	font-weight: 600;
	color: #00B8D4;
}

.detail-content h3 {
	margin: 25px 0 0 0;
	padding: 0 0 4px 0;
	font-size: 14px;
	font-weight: 600;
	color: #00B8D4;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #00B8D4;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    font-size: 15px;
}

span.emph {
    font-weight: 600;
    color: #00B8D4;
}


/* SLIDE */

.cd-panel, .cd-panel-2, .cd-panel-3, .cd-panel-4 {
  	visibility: hidden;
	transition: visibility 0s 0.6s;
}

.cd-panel.is-visible, .cd-panel-2.is-visible, .cd-panel-3.is-visible, .cd-panel-4.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}

.cd-panel-container, .cd-panel-container-2, .cd-panel-container-3, .cd-panel-container-4 {
    padding: 100px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
 	transform: translate3d(100%, 0, 0);
    background-color: rgba(14,15,33,0.98);
    z-index: 9999;
}

.cd-panel-container ul, .cd-panel-container-2 ul, .cd-panel-container-3 ul, .cd-panel-container-4 ul {
    margin: 15px 0 25px 0;
    padding: 0;
    list-style-type: none;
}

.is-visible .cd-panel-container, .is-visible .cd-panel-container-2, .is-visible .cd-panel-container-3, .is-visible .cd-panel-container-4 {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

.cd-panel-close, .cd-panel-close-2, .cd-panel-close-3, .cd-panel-close-4 {
    color: white;
    font-size: 42px;
}

.cd-panel-close:hover, .cd-panel-close-2:hover, .cd-panel-close-3:hover, .cd-panel-close-4:hover {
    color: white;
    text-decoration: none;
}

/* HELPERS */

.bottom-dist {
	margin-bottom: 35px;
}

.fixed-height {
	height: 440px;
}

.detail-content {
    margin-top: 50px;
}

.glyphicon {
    color: white;
}

.margin-top {
    margin-top: 120px;
}


/* CONTENT */

.item {
    background-color: #2f2d47;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

ul.tabs {
    list-style-type: none;
}

ul.tabs > li {
    display: inline;
}

ul.tabs > li > a {
    color: white;
    margin: 0 0 10px 0;
	padding: 0 10px 0 0;
    font-size: 17px;
	text-transform: uppercase;
    letter-spacing: 1px;
	font-weight: 600;
}

.content-box {
	background-color: #191826;
	padding: 25px;
	margin: 0 0 15px 0;
}

.content-box-np {
	background-color: #191826;
	margin: 0 0 15px 0;
}

.index {
	background-color: #191826;
	border: 3px solid #378e3d;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.index p {
	text-align: center;
	font-size: 24px;
	padding: 32px 0 0 0;
}

a.details {
    color: white;
    font-size: 15px;
	margin: 0;
	padding: 7px 15px;
	text-align: center;
	background-color: #00B8D4;
}


/* TIMELINE */

.vis-item {
    position: absolute;
    color: white;
    border: 0;
    background-color: #191826;
    display: inline-block;
    z-index: 1;
}

.vis-item .vis-item-content {
    font-size: 11px;
}

.vis-item.vis-dot {
	color: #00B8D4;
	border-width: 10px;
	border-radius: 10px;
}

.vis-item.vis-selected {
    border-color: #00B8D4;
    background-color: #00B8D4;
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: rgb(121, 145, 157);
}

.vis-timeline {
	border: none;
}

.vis-time-axis .vis-text {
    font-size: 12px;
	color: rgb(121, 145, 157);
}

.vis-item.vis-line {
    display: none;
}


/* ZOOM */

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
