<h3>ECOG Status</h3>
<p>{{karnofskyindexpercent}}</p>

<!-- TODO only show below information for patient details component -->

<h3>Anamnese (Alio Loco)</h3>
<p>{{anamnesis.actualanamnesis}}</p>

<h3>Rauchen</h3>
<p>Patient ist oder war Raucher. Der Konsum liegt/lag bei
  <span class="emph">{{anamnesis.nicotineyearpackages}} Schachteln pro Jahr</span>.
  Patient ist seit
  <span class="emph">{{anamnesis.nicotineabstinence}} Jahren abstinent</span>.
</p>

<h3>Alkohol</h3>
<p>Patient konsumiert keinen Alkohol.</p>

<h3>Beschäftigungsverhältnis</h3>
<p>{{anamnesis.profession}}</p>

<h3>Bekannte Allergien und Unverträglichkeiten</h3>
<p>{{anamnesis.allergies}}</p>

<h3>Medikamentenliste</h3>
<p>{{anamnesis.medicaments}}</p>

<h3>Aktuelles Gewicht</h3>
<p>{{anamnesis.weightadmission}} Kg</p>
