<div class="cd-panel-2 from-right">
    <div class="cd-panel-container-2">
        <div class="row">

            <div class="col-lg-4">
                <h1 class="cd-panel-close-2">Panendoskopie - Details</h1>
            </div>

            <div class="col-lg-8">
                <a href="#0" class="cd-panel-close-2 pull-right">&#10006;</a>
            </div>
        </div>

        <div class="row detail-content">

            <div class="col-lg-4">
                <h3>Aufnahmedatum</h3>
                <p>01.01.2018</p>
                <img src="../img/p1.jpg" data-action="zoom" class="img-responsive">
            </div>

            <div class="col-lg-4">
                <h3>Aufnahmedatum</h3>
                <p>01.01.2018</p>
                <img src="../img/p2.jpg" data-action="zoom" class="img-responsive">
            </div>

            <div class="col-lg-4">
                <h3>Aufnahmedatum</h3>
                <p>01.01.2018</p>
                <img src="../img/p3.jpg" data-action="zoom" class="img-responsive">
            </div>

        </div>
    </div>
</div>
