<div class="cd-panel-3 from-right">
    <div class="cd-panel-container-3">
        <div class="row">

            <div class="col-lg-4">
                <h1 class="cd-panel-close-3">Therapie - Details</h1>
            </div>

            <div class="col-lg-8">
                <a href="#0" class="cd-panel-close-3 pull-right">&#10006;</a>
            </div>
        </div>

        <div class="row detail-content">
            <div class="col-lg-12">

                <div class="item">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>2018-01-10</p>
                        </div>
                        <div class="col-lg-9">
                            <p>Szintigraphie der Nieren: Dynamisch</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>2018-01-08</p>
                        </div>
                        <div class="col-lg-9">
                            <p>Nicht komplexe Chemotherapie: 1 Tag: 1 Medikament</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>2018-01-07</p>
                        </div>
                        <div class="col-lg-9">
                            <p>Computertomographie des Halses mit Kontrastmittel</p>
                        </div>
                        <div class="col-lg-1">
                                <a class="details" data-toggle="modal" data-target="#befund1">BEFUND</a>
                        </div>

                        <div class="modal fade" id="befund1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><!-- Start Charlson Modal -->
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <h1>Befund - CT Hals</h1>
                                        <p class="small">Anamnese und klinische Fragestellung:<br />
                                        <br />
                                        Aktuell Stridor bei Verdacht auf Rezidiv eines Larynxkarzinoms. Zustand nach supraglottischer Hemilaryngektomie rechts 2009 mittels laserchirurgischer Teilresektion, ND 09/ 2009. Anhalt für Rezidiv Lymphknotenstatus?<br />
                                        <br />
                                        Befund:<br />
                                        Zum Vergleich dient die externe Schnittbild-Diagnostik des Thorax vom 21.01.2013; es liegt leider keine externe Schnittbild-Diagnostik des Halses vor. Nachweis einer randständig KM-affinen Raumforderung von ca. 1,8 x 3,4 x 5 cm (BxTxH) Größe mit folgender Ausdehnung: von kranial ca. ab Höhe des rechtsdorsolateralen Os hyoideum, seitlich bis an\nden linksseitigen Aryknorpel sowie nach ventral die vordere Zirkumferenz/ Incisura laryngea des Schildknorpels überschreitend und bis an den Oberrand/ ventral subkutan des Ringknorpels reichend; konsekutive Lumeneinengung auf des Larynx auf korrespondierender Höhe. Darüberhinaus Nachweis einer inhomogenen Knorpelstruktur des Schild- sowie diskreter des Ringknorpels beidseits mit z. T. unscharfer Abgrenzbarkeit der knorpligen Randbegrenzung. Kein Nachweis malignomsuspekt vergrößerter LKS zervikal, nuchal sowie supraclavikulär beidseits, a. e. infolge ausgedehnter neck-dissection. Reguläre Kontrastierung der nicht suspekt vergrößerten Schilddrüsenlappen beidseits. Seitensymmetrisch reguläre Darstellung der Glandula parotidea sowie der Glandula submandibularis beidseits. Regelrechte Abgrenzbarkeit des Mastikatorenraums. Freie Ventilation der NNH sowie Mastoidzellen beidseits. Kein Nachweis malignomsuspekt zervikaler, nuchaler sowie supraclaviculärer LKS. Reguläre Kontrastierung der basalen Hirn-sowie Zervikalarterien beidseits; Vasosklerose entlang der Karotisbifurkation. Kein Nachweis höhergradiger Gefäßstenosen oder-verschlüsse. Regelrechte Darstellung des miterfassten Neurokraniums. Nachweis von degenerativen Wirbelsäulenveränderungen mit osteophytären Kantenausziehungen auf Höhe der Grundplatte C4-C7 sowie Parasyndesmophyten auf korrespondierender Höhe. Kein Anhalt für eine Gefügestörung. Kein Nachweis einer Verbreiterung des prävertebralen Weichteilschattens. Miterfasste apicalen Lungenanteile regulär.<br />
                                        <br />
                                        Beurteilung:<br />
                                        Hochgradiger Verdacht auf ein Lokalrezidiv eines Larynx-Carcinoms mit Ausdehnung von supra- bis nach infraglottisch (siehe oben genannte Lokalisation) mit V. a. Infiltration von Cartilago thyroidea et cricoidea. Kein Anhalt für malignomsuspekt vergrößerte zervikale sowie supraklavikuläre LKS, a. e. infolge einer ausgedehnten neck-dissection.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>2018-01-07</p>
                        </div>
                        <div class="col-lg-9">
                            <p>Computertomographie des Thorax mit Kontrastmittel</p>
                        </div>
                        <div class="col-lg-1">
                            <a class="details" data-toggle="modal" data-target="#befund2">BEFUND</a>
                        </div>

                        <div class="modal fade" id="befund2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><!-- Start Charlson Modal -->
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <h1>Befund - CT Thorax</h1>
                                        <p class="small">Nachweis einer randständig KM-affinen Raumforderung von ca. 1,8 x 3,4 x 5 cm (BxTxH) Größe mit folgender Ausdehnung: von kranial ca. ab Höhe des rechtsdorsolateralen Os hyoideum, seitlich bis an den linksseitigen Aryknorpel sowie nach ventral die vordere Zirkumferenz/ Incisura laryngea des Schildknorpels überschreitend und bis an den Oberrand/ ventral subkutan des Ringknorpels reichend; konsekutive Lumeneinengung auf des Larynx auf korrespondierender Höhe. Darüberhinaus Nachweis einer inhomogenen Knorpelstruktur des Schild- sowie diskreter des Ringknorpels beidseits mit z. T. unscharfer Abgrenzbarkeit der knorpligen Randbegrenzung. Kein Nachweis malignomsuspekt vergrößerter LKS zervikal, nuchal sowie supraclavikulär beidseits, a. e. infolge ausgedehnter neck-dissection. Reguläre Kontrastierung der nicht suspekt vergrößerten Schilddrüsenlappen beidseits. Seitensymmetrisch reguläre Darstellung der Glandula parotidea sowie der Glandula submandibularis beidseits. Regelrechte Abgrenzbarkeit des Mastikatorenraums. Freie Ventilation der NNH sowie Mastoidzellen beidseits. Kein Nachweis malignomsuspekt zervikaler, nuchaler sowie supraclaviculärer LKS. Reguläre Kontrastierung der basalen Hirn-sowie Zervikalarterien beidseits; Vasosklerose entlang der Karotisbifurkation. Kein Nachweis höhergradiger Gefäßstenosen oder-verschlüsse. Regelrechte Darstellung des miterfassten Neurokraniums. Nachweis von degenerativen Wirbelsäulenveränderungen mit osteophytären Kantenausziehungen auf Höhe der Grundplatte C4-C7 sowie Parasyndesmophyten auf korrespondierender Höhe. Kein Anhalt für eine Gefügestörung. Kein Nachweis einer Verbreiterung des prävertebralen Weichteilschattens. Miterfasste apicalen Lungenanteile regulär.  Beurteilung: Hochgradiger Verdacht auf ein Lokalrezidiv eines Larynx- Carcinoms mit Ausdehnung von supra- bis nach infraglottisch (siehe oben genannte Lokalisation) mit V. a. Infiltration von Cartilago thyroidea et cricoidea. Kein Anhalt für malignomsuspekt vergrößerte zervikale sowie supraklavikuläre LKS, a. e. infolge einer ausgedehnten neck-dissection.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
