/* SLIDE */

.cd-panel, .cd-panel-2, .cd-panel-3, .cd-panel-4 {
  	visibility: hidden;
	transition: visibility 0s 0.6s;
}

.cd-panel.is-visible, .cd-panel-2.is-visible, .cd-panel-3.is-visible, .cd-panel-4.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}

.cd-panel-container, .cd-panel-container-2, .cd-panel-container-3, .cd-panel-container-4 {
  padding: 100px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
 	transform: translate3d(100%, 0, 0);
    background-color: rgba(14,15,33,0.98);
    z-index: 9999;
}

.cd-panel-container ul, .cd-panel-container-2 ul, .cd-panel-container-3 ul, .cd-panel-container-4 ul {
    margin: 15px 0 25px 0;
    padding: 0;
    list-style-type: none;
}

.is-visible .cd-panel-container, .is-visible .cd-panel-container-2, .is-visible .cd-panel-container-3, .is-visible .cd-panel-container-4 {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

.cd-panel-close, .cd-panel-close-2, .cd-panel-close-3, .cd-panel-close-4 {
    color: white;
    font-size: 42px;
}

.cd-panel-close:hover, .cd-panel-close-2:hover, .cd-panel-close-3:hover, .cd-panel-close-4:hover {
    color: white;
    text-decoration: none;
}
