<h1>Patientenmetrik</h1>

<div class="content-box">
    <div class="row">
        <div class="col-lg-6">

            <div>
                <h3>Name</h3>
                <p>{{selectedPatient.firstname}} {{selectedPatient.lastname}}</p>
            </div>

            <div>
                <h3>Alter des Patienten</h3>
                <p>{{selectedPatient.age}}</p>
                <a data-toggle="modal" data-target="#charlson"><h3>Charlson Score <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></h3></a>
                <!-- <p>{{cs[2].value}}</p> -->
                <!-- TODO: show actual score from component...-->
                <p>6</p>
                <!--Charlson Modal-->
                <app-charlson-modal></app-charlson-modal>
            </div>

            <div>
                <!--anamnesis-->
                <app-anamnesis></app-anamnesis>
            </div>

        </div>

        <div class="col-lg-6">
          <!--diagnoses-->
          <app-diagnoses></app-diagnoses>
        </div>
    </div>

    <hr />
    <a href="#0" class="details cd-btn">DETAILS</a>

</div>
