<h3>Hämoglobin</h3>
<span class="glyphicon glyphicon-circle-arrow-up"></span> {{lab.haemoglobin}}

<h3>Kreatinin</h3>
<span class="glyphicon glyphicon-circle-arrow-up"></span> {{lab.creatinin}}

<h3>Harnstoff</h3>
<span class="glyphicon glyphicon-circle-arrow-down"></span> {{lab.urea}}

<h3>Leukozyten</h3>
<span class="glyphicon glyphicon-circle-arrow-up"></span> {{lab.leucocytes}}

<h3>Neutrophile Leukozyten</h3>
<span class="glyphicon glyphicon-circle-arrow-down"></span> {{lab.neutrophils}}

<h3>CRP</h3>
<span class="glyphicon glyphicon-circle-arrow-up"></span> {{lab.crp}}

<h3>Albumin</h3>
<span class="glyphicon glyphicon-circle-arrow-up"></span> {{lab.albumin}}

<h3>Quick Wert</h3>
<span class="glyphicon glyphicon-circle-arrow-down"></span> {{lab.quick}}
