
<div class="cd-panel from-right">
    <div class="cd-panel-container">

        <div class="row">
            <div class="col-lg-4">
                <h1 class="cd-panel-close">Patientenmetrik - Details</h1>
            </div>
            <div class="col-lg-8">
                <a href="#0" class="cd-panel-close pull-right">&#10006;</a>
            </div>
        </div>

        <div class="row detail-content">
            <div class="col-lg-5">
                <!-- previously anamnesisCtrl -->
                <app-anamnesis></app-anamnesis>
            </div>

            <div class="col-lg-6 col-lg-offset-1">
                <!-- previously labCtrl -->
                <app-lab></app-lab>
            </div>
        </div>
    </div>
</div>
