<h1>Therapiemetrik</h1>
<div class="content-box">
    <div class="row">

        <div class="col-lg-2">
            <a href="#1" class="details cd-btn-3">GESAMTTHERAPIE</a>
            <img src="../img/logo.png" class="margin-top" width="140">
        </div>

        <div class="col-lg-10">
            <div id="visualization-overview"></div>
        </div>

    </div>
</div>
