<div class="modal fade" id="charlson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <h1>Charlson Score</h1>
                <p class="small">Der berechnete Charlson Score basiert auf den folgenden Patienteninformationen:</p>

                <hr />

                <!--

                <div ng-repeat="x in csfactors">
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>{{x.fields.icd10.value}}</b>
                        </div>
                        <div class="col-lg-6">
                            <p>{{x.fields.diagnosisText.value}}</p>
                        </div>
                        <div class="col-lg-3">
                            <p>{{x.fields.description.value}}</p>
                        </div>
                    </div>
                </div>

                -->

                <div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>Alter</b></p>
                        </div>
                        <div class="col-lg-6">
                            <p>{{patient.age}}</p>
                        </div>
                        <div class="col-lg-3">
                            <p>+2</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>C77.0</b>
                        </div>
                        <div class="col-lg-6">
                            <p>Metastase / nnbez. / BNB:LK / Kopf, Gesicht, Hals</p>
                        </div>
                        <div class="col-lg-3">
                            <p>+4</p>
                        </div>
                    </div>
                </div>

                <hr />

                <p>Charlson Score: {{patient.charlson.cs}}</p>
                <p class="small">Die 10-Jahres Überlebensrate liegt bei: {{survival}} %</p>

            </div>
        </div>
    </div>
</div>
